---
layout: base
---
<h1>anime calendar</h1>

  <div class="calendar">
    <div class="week">
      <div class="day">
        <h2>Domingo</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
      <div class="day">
        <h2>Lunes</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
      <div class="day">
        <h2>Martes</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
      <div class="day">
        <h2>Miercoles</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
      <div class="day">
        <h2>Jueves</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
      <div class="day">
        <h2>Viernes</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
      <div class="day">
        <h2>Sabado</h2>
        <div class="anime">
          <img src="/img/" alt="Imagen Anime 1">
          <h3>Nombre del Anime 1</h3>
          <h6>Géneros: Género 1, Género 2</h6>
          <h6>Descripción: Breve descripción del Anime 1.</h6>
        </div>
      </div>
    </div>
  </div>