---
layout: base.njk
---
<div class="grid">
	<article>
		<a href="https://animeshopedia.com/" class="btn color-verde">
			Anime
		</a>
	</article>
	<article>
		<a href="calendario-anime" class="btn color-azul">
			Calendario anime
		</a>
	</article>
	<article>
		<a href="paginas-de-anime" class="btn color-rojo">
			Páginas de anime
		</a>
	</article>
	<article>
		<a href="pag-app-ayudara" class="btn color-amarillo">
			Páginas y aplicaciones que te ayudarán la vida de estudiante
		</a>
	</article>
	<article>
		<a href="manga" class="btn color-oscuro">
			Manga
		</a>
	</article>
	<article>
		<a href="videos" class="btn color-claro">
			Videos
		</a>
	</article>
</div>
