---
layout: base.njk
---
<div class="grid">
    <article>
        <a href="https://resoomer.com/es/" class="btn s">
        </a>
        <h4>ressomer</h4>
    </article>
    <article>
        <a href="https://y2mate.com.co/" class="btn t">
        </a>
        <h4>y2mate</h4>
    </article>
    <article>
        <a href="https://speechnotes.co/es/" class="btn u">
        </a>
        <h4>speechnotes</h4>
    </article>
    <article>
        <a href="https://www.ocr2edit.com/es" class="btn v">
        </a>
        <h4>ocr2edit</h4>
    </article>
    <article>
        <a href="https://www.bearaudiotool.com/sp/" class="btn w">
        </a>
        <h4>bearaudiotool</h4>
    </article>
    <article>
        <a href="https://www.media.io/" class="btn x">
        </a>
        <h4>media.io</h4>
    </article>
    <article>
        <a href="https://www.epidemicsound.com/es/?_us=youtubeads&_usx=17133641642&utm_campaign=17133641642&utm_content=600062601327&utm_source=youtube&utm_medium=paidsocial&gclid=Cj0KCQiA7bucBhCeARIsAIOwr-9Z6-VQR9Lk2HhKqiZsuBO53oNRS_MVCkAJzkENXg9cp58DRZDlDpgaAikbEALw_wcB" class="btn y">
        </a>
        <h4>epidemicsound</h4>
    </article>
    <article>
        <a href="https://www.qrcode.es/es/" class="btn z">
        </a>
        <h4>qrcode</h4>
    </article>
    <article>
        <a href="https://jdownloader.org/" class="btn aa">
        </a>
        <h4>jdownloader</h4>
    </article>
    <article>
        <a href="https://www.naturalreaders.com/online/" class="btn ab">
        </a>
        <h4>naturalreaders</h4>
    </article>
    <article>
        <a href="https://es.savefrom.net/" class="btn ac">
        </a>
        <h4>savefrom</h4>
    </article>
    <article>
        <a href="https://123apps.com/es/" class="btn ad">
        </a>
        <h4>123apps</h4>
    </article>
    <article>
        <a href="https://www.getfvid.com/" class="btn ae">
        </a>
        <h4>getfvid</h4>
    </article>
    
    <article>
        <a href="https://www.calculadoraconversor.com/" class="btn af">
        </a>
        <h4>calculadora conversor</h4>
    </article>
    <article>
        <a href="https://chat.openai.com/" class="btn ag">
        </a>
        <h4>chat gpt</h4>
    </article>
    <article>
        <a href="https://sendeyo.com/onlineconverter/es/dat/mp3" class="btn ah">
        </a>
        <h4>sendeyo</h4>
    </article>
    <article>
        <a href="https://plagiarisma.net/es/#" class="btn ai">
        </a>
        <h4>plagiarisma</h4>
    </article>
    <article>
        <a href="https://www.ilovepdf.com/es" class="btn aj">
        </a>
        <h4>ilovepdf</h4>
    </article>
</div>