---
layout: base
---
Política de Comentarios y Trackback
Los comentarios en Popular Blog son moderados. 
Los usuarios de Popular Blog acuerdan utilizar 
la opción de comentar para enviar mensajes 
apropiados y relacionados con esa entrada en 
particular. Nos reservamos el derecho de no 
publicar o remover cualquier comentario que, 
en nuestra sola discreción, sea inaceptable. 
Estos podrían incluir ataques personales, 
palabras soeces y otros comentarios que nos 
parezcan objetables por cualquier motivo. 
También nos reservamos el derecho de editar 
los comentarios para corregir errores de 
gramática u ortográficos.

Los usuarios reconocen y acuerdan que los 
comentarios son públicos. Ninguna información 
recibida será considerada confidencial.
 Popular Blog no reclama derecho de propiedad
  sobre los comentarios sometidos. Sin embargo,
   al someter comentarios los usuarios le 
   conceden a Popular Blog una licencia a 
   perpetuidad, libre del pago de derechos, 
   para usar, distribuir, reproducir, editar 
   y publicar los comentarios en otros formatos.
    Los usuarios acuerdan no publicar material 
    protegido por leyes de propiedad intelectual
    . Si usted contribuye material que no sea
     original suyo, usted manifiesta y garantiza 
     a Popular Blog que el mismo no infringe los
      derechos de autor o propiedad intelectual 
      de terceros y que usted ha obtenido todos 
      los permisos y licencias necesarios para 
      contribuir el material a Popular Blog.

De igual manera nos reservamos el derecho a no 
aprobar trackbacks que a nuestro juicio sean inapropiados.